* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #fbfbfb;
}

@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0;
    /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 20%;
        
        
    }
}

.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

#sidebarMenu{
    background-color:#1c1b1b;
}
/* ul height */

/* li color */


#list1 {
    background-color: whitesmoke;
}
#list2 {
    background-color: whitesmoke;
}
#list3 {
    background-color: whitesmoke;
}
#list4 {
    background-color: whitesmoke;
}
#list5 {
    background-color: whitesmoke;
}
#list6 {
    background-color: whitesmoke;
}
/* :hover */
#list1:hover {
    background-color: rgb(204, 203, 203);
    
}
#list2:hover {
    background-color: rgb(204, 203, 203);
}
#list3:hover {
    background-color: rgb(204, 203, 203);
}
#list4:hover {
    background-color: rgb(204, 203, 203);
   
}
#list5:hover {
    background-color: rgb(204, 203, 203);

}
#list6:hover {
    background-color: rgb(204, 203, 203);
}
/* .detail-content */
.detail{
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-evenly;
    
}
.detail-content{
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-evenly;
    
}
#detail-border{
    border: 1px solid grey;
    height: 300px;
}
#right-border{
    border-right: 1px solid grey;
    background-color: rgb(238, 238, 238);

}